/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start your code here: */
html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}

/* Navigation */

nav{
	background-color: black;
	display: flex;
	justify-content: space-around;
}

a, i{
	color: azure;
	text-decoration: none;
	padding: 1em 0;
	font-size: .75em;
}




a:hover{
	text-decoration: underline;
}

a:nth-child(2){
	font-family: 'Bungee', cursive;
	font-size: .75em;
	text-decoration: none;
}

a:nth-child(2){
	margin-left: 2em;
}

i{
	color: azure;
}


i:nth-child(1) {
	display: none;
}

i:nth-child(2){
	margin-left: 2em;
} 



.container {
	max-width: 65em;
	margin: 0 auto;
	font-size: 2rem;

}

h1 {
	font-size: 4rem;
}


/* Main */

main{
	height: 100vw;
	display: flex;
	flex-direction: column;
}

/* discover section */


section{
	display: block;
}

section.discoverHero{
	/* Photo by Jonny Kennaugh on Unsplash  */
	background-image: url(../images/bike_1920.jpg);
	background-size: 100% auto;
	background-position: top;
	background-repeat: no-repeat;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color: darkslategray;
	min-height: 500px;
	max-height: 1000px;
}

section.gearUpHero{
	/* Photo by Flo Karr on Unsplash */
	background-image: url(../images/gearUp_1920.jpg);
	background-size: 100% auto;
	background-position: top;
	background-repeat: no-repeat;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color: darkslategray;
	min-height: 300px;
	max-height: 800px;
}

section.apparelHero{
	/* Photo by Markus Spiske on Unsplash */
	background-image: url(../images/markus-spiske-544020-unsplash.jpg);
	background-size: 100% auto;
	background-position: top;
	background-repeat: no-repeat;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color: #FFFFFA;
	min-height: 300px;
	max-height: 800px;
}

section.apparelHero h2, section.discoverHero h2, section.gearUpHero h2{
	margin-top: 3em;
}



section button{
	margin: .5em;
	padding: .75em 1em;
	background-color: #FFFFFA;
	border: none;
	text-align: center;
	display: block;
	font-size: .75em;
	text-transform: uppercase;
}




@media only screen and (max-width: 500px) {


a{
	display: none;
}

i.mobileHide{
	visibility: hidden;
}


a:nth-child(2){
	display: flex;
	
}

nav{
	justify-content: space-around;
	text-align: Center;
}

i:nth-child(1){
	display: flex;
}

i:nth-child(5){
	display: flex;
}

/* end navigation */


section.apparelHero{
	min-height: 230px;
	max-height: auto;
	color: #FFFFFA;
}

section.gearUpHero{
	min-height: 230px;
	max-height: auto;
	color: #FFFFFA;

}

section.discoverHero{
	min-height: 230px;
	max-height: auto;
	color: lightslategray;
}


section h2{
	justify-self: flex-start;
	margin-top: .001em;
}

}

